.dashboard-larg-panel{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.dashboard-widget-title {
    padding: 5px 0 0 10px;
    font-weight: bold;
}

.dashboard-widget-desc{
padding: 0 0 0 10px;
}

.dashboard-widget-footer{
    padding: 5px 0 0 30px;
    color:#5a5a5a ;
}