.dashboard-larg-panel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.dashboard-inner-panel{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
  width: 100%; 
  /* margin: 0 auto; */

}


.dashboard-widget-title {
    padding: 10px 0 0 10px;
    font-weight: bold;
}

.dashboard-widget-desc{
padding: 0 0 0 10px;
}

.dashboard-widget-footer{
    padding: 5px 0 9px 10px;
    color:#5a5a5a ;
}

.dashboard-calender-widget .sx__calendar{
     --sx-color-background: rgba(255, 255, 255, 0.5);
}

.dashboard-calender-widget .sx__date-input {
    display: none;
    /* visibility: hidden; */
}

.dashboard-calender-widget .sx__calendar {
  height: 369px !important;
}

.dashboard-PBandHP-widget{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard-ai-widget{
    padding:20px;
    text-align: justify;
    line-height: 1.3;
}

.dashboard-achieved-goals{
    padding: 0px 10px 10px 0px;
    height: 100px;
}


.dashboard-first-line , .dashboard-sec-line {
    display: flex;
    gap:30px;
    flex-wrap: wrap;
}

.dashboard-first-line{
    gap:60px;
}