.emotions-big-container {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    background-color: #FFFFFF;
    /* background-color: transparent; */
    border-radius: 15px;
    padding: 5vh 2vw 5vh 2vw;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    min-height: 80vh;
}


.emoji-btn {
    font-size: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0;
    background-color: transparent;
    transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
    margin: 4px
}


.emoji-btn:hover {
    transform: scale(1.5);
}


.selected-emoji {
    transform: scale(1.5);
    backdrop-filter: blur(4px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


/* crediting https://neumorphism.io/#e0e0e0 */




.emotion-form {
    display: flex;
    align-items: flex-start;

}

.div-bubble-user {
    position: relative;
    width: 50vw;

}

.bubble-user {
    width: 50vw;
    height: 20vh;
    padding: 30px;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: inset 6px 6px 12px #d4d4d4,
        inset -6px -6px 12px #ffffff;
    border: none;
    outline: none;
    resize: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    left: 0;
}

.bubble-user:focus {
    transform: scale(1.02);
}

.bubble-send-btn {
    position: absolute;
    top: 78%;
    right: 8px;
    transform: translateY(-50%);
    border: none;
    background-color: #000000;
    border-radius: 20%;
    width: 36px;
    height: 30px;
    cursor: pointer;
    box-shadow: 3px 3px 6px #d4d4d4, -3px -3px 6px #ffffff;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.bubble-send-btn:hover {
    transform: translateY(-50%) scale(1.1);
}

.bubble-send-btn:disabled {
    background-color: #4e4e4e;
}




.bubble-ai {
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 8px 8px 16px #d4d4d4,
        -8px -8px 16px #ffffff;
    padding: 0.75rem 1rem;
    width: 50vw;
    height: 20vh;
    border: none;
    outline: none;
    padding: 30px;
    margin-top: 4px;
}

.div-bubble-ai {
    margin-left: auto;
}