.big-homepage-full-container{
    display: flex;
    width: 100vw;
    height: 100vh;
   justify-content: center; 
   background-color: #090a07;
    overflow: hidden;
}

.homepage-full-container {
    display: flex;
    flex-direction: column;
    min-width: 50vw;
    margin-top: 9%;
        z-index: 100;
        color: whitesmoke;
}

.title {
  font-size: 8em;
  padding: 40px 0 20px 0;
  letter-spacing: 2px;
  color: whitesmoke;
}


.desc{
    font-size: 1.4em;
    font-weight: 100;
}

.homepage-full-container> :last-child{
    margin-left: auto;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.links a {
    background-color: rgb(233, 233, 233);
    padding:10px;
    min-width: 60px;
    text-align: center;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 0.8em;
     transition: all 0.3s ease;
     margin-top: 1px;
    
}

.links a:hover {
    transform: translateY(-5px); 
    background-color: #ffffff; 
}
.background{
  position: fixed;
  bottom: 0;
  z-index: 2;
  height: 90vh;
  width: 60vw;
  object-fit: cover;
  
  /* filter: brightness(0.8); */
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  filter: blur(5px);
  animation: fadeInUp 1.2s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.fade-in-img {
  opacity: 0;
  animation: fadeInImage 2s ease forwards;
  /* animation: fadeInImage 2s ease forwards, floatUpDown 6s ease-in-out infinite; */
}

@keyframes fadeInImage {
  to {
    opacity: 1;
  }
}

/* @keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
} */