/* crediting https://www.geeksforgeeks.org/javascript/create-a-password-strength-checker-using-html-css-and-javascript/  */
.power-container {
  background-color: #2e424d;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

#power-point {
  background-color: #d73f40;
  width: 1%;
  height: 100%;
  border-radius: 5px;
  transition: 0.5s;
}

.strength-label {
  font-size: 14px;
  color: #797979;
  margin-top: 6px;
  text-align: left;
}
