.linked-goals-container {
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.01) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.05) 0px 18px 36px -18px inset;
    padding: 2vh 1vw 2vh 1vw;
    background-color: #f8f8f8;
}

.linked-goals-container h4 {
    padding: 1vh 0;
}

.linked-goals-items {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 2vh 1vw;
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
}


.linked-goals-item {
    border-bottom: 1px solid #dadedf;
    padding: 5px 0;
    color: #636363;
}